18.04.2020/WpfAppClient/WpfAppClient/Connected Services/ServiceConverter/Converter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_MyServer1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_MyServer1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConvertedUnits">
    <xs:sequence>
      <xs:element minOccurs="0" name="Celsius" type="xs:double" />
      <xs:element minOccurs="0" name="Fahrenheit" type="xs:double" />
      <xs:element minOccurs="0" name="Foot" type="xs:double" />
      <xs:element minOccurs="0" name="Inch" type="xs:double" />
      <xs:element minOccurs="0" name="Metr" type="xs:double" />
      <xs:element minOccurs="0" name="Yard" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertedUnits" nillable="true" type="tns:ConvertedUnits" />
</xs:schema>